<ul class="nav flex-column mb-2">
    <li class="nav-item">
        <span class="nav-link">
            <button (click)="this.player.copyConnectLink()">Copy Connect Link</button>
        </span>
    </li>
    <li class="nav-item">
        <span *ngIf="!this.player.currentArtist" class="nav-link text-muted">
            Nothing playing
        </span>
        <span *ngIf="this.player.currentArtist" class="nav-link">
            {{this.player.currentArtist}}&nbsp;
        </span>
    </li>
    <li class="nav-item">
        <span *ngIf="!this.player.currentTitle" class="nav-link text-muted">
            Nothing playing
        </span>
        <span *ngIf="this.player.currentTitle" class="nav-link">
            {{this.player.currentTitle}}&nbsp;
        </span>
    </li>
    <li class="nav-item">
        <span *ngIf="!this.player.currentAlbum" class="nav-link text-muted">
            Nothing playing
        </span>
        <span *ngIf="this.player.currentAlbum" class="nav-link">
            {{this.player.currentAlbum}}&nbsp;
        </span>
    </li>

    <li class="nav-item">
        <span class="nav-link">
            <input type="range" min="0" max="100"
                   [value]="this.player.volume" (input)="volumeChanged($event)" class="slider" id="volumeslider">
        </span>
    </li>
    <li class="nav-item">
        <span class="nav-link">
            <input type="range" min="0" [max]="this.player.duration" [(value)]="this.player.currentTime"
                   (input)="currentTimeChanged($event)" class="slider" id="positionslider">
        </span>
    </li>
    <li class="nav-item">
        <span class="nav-link">
            <label>{{this.player.currentTime || 0}}/{{this.player.duration || 0}}</label>
        </span>
    </li>
    <li class="nav-item">
        <span class="nav-link">
            <button (click)="this.player.tooglePause()">{{pausedText}}</button>
        </span>
    </li>
    <li class="nav-item">
        <span class="nav-link">
            <button (click)="this.player.skip()">Skip</button>
        </span>
    </li>
</ul>