<StackLayout>
    <ActionBar [title]="artist.Title"></ActionBar>

    <Label [text]="artist.Title"></Label>

    <ScrollView class="page">
        <StackLayout> <!-- Needed -->
            <StackLayout *ngFor="let album of albums" class="list-group-item">
                <app-album-glance [album]="album"></app-album-glance>
            </StackLayout>
        </StackLayout>
    </ScrollView>
</StackLayout>