<ActionBar title="Home"></ActionBar>
<GridLayout>
    <ScrollView class="page">
        <StackLayout class="p-20">
            <Label text="Welcome to {{ title }}!" class="h1 text-center" textWrap="true"></Label>
            <Button text="Artists" [nsRouterLink]="['/artists']" pageTransition="slide"></Button>
        </StackLayout>
    </ScrollView>
</GridLayout>