<StackLayout>
    <Label [text]="album.Title" class="h4"></Label>

    <ScrollView *ngFor="let song of songs">

        <Button (tap)="player.playSong(song)"
                text="{{song.DiscNr}}-{{song.TrackNr}} {{song.Title}} {{song.Artist.Title}} {{song.Format}} {{song.Duration}} {{song.PlayCount}}"
                class="btn"></Button>

    </ScrollView>
</StackLayout>