<p>{{album.Title}}</p>&nbsp;<button (click)="player.enqueueAlbum(album)">Add to Queue</button>

<table class="songs">
    <tr>
        <th></th>
        <th>#</th>
        <th>Title</th>
        <th>Artist</th>
        <th>Format</th>
        <th>Duration</th>
        <th>Playcount</th>
        <th></th>
    </tr>
    <tr *ngFor="let song of songs" [ngClass]="player.player.currentId == song.Id ? 'list_current': 'list_other'">
        <td *ngIf="player.player.currentId == song.Id">&gt;</td>
        <td *ngIf="player.player.currentId != song.Id"></td>
        <td>{{song.DiscNr}}-{{song.TrackNr}}</td>
        <td>{{song.Title}}</td>
        <td>{{song.Artist.Title}}</td>
        <td>{{song.Format}}</td>
        <td>{{song.Duration}}</td>
        <td>{{song.PlayCount}}</td>
        <td>
            <button (click)="player.playSong(song)"
            >Play
            </button>
            <button (click)="player.prepareSong(song)"
            >Prepare
            </button>
            <button (click)="player.enqueueSong(song)"
            >Add to Queue
            </button>
            <button (click)="player.copyLink(song)"
            >Copy Player link
            </button>
        </td>
    </tr>
</table>
