<div class="mb-3 shadow-lg media album-glance">
    <img decoding="async" importance="low" src="{{window.APIEndpoint}}albums/{{album.Id}}/cover" class="align-self-center mr-3 card-img">
    <div class="pt-3 media-body">
        <h5 class="mt-0"><a [routerLink]="['/album', {id: album.Id}]"
                                  pageTransition="slide">{{album.Title}}</a></h5>
        <p class="card-text">by <a [routerLink]="['/artist', {id: album.AlbumArtist.Id}]"
                                   pageTransition="slide">{{album.AlbumArtist.Title}}</a></p>
        <p class="card-text"><small class="text-muted">{{album.Format}}</small></p>
    </div>
</div>