<StackLayout [nsRouterLink]="['/album', {id: album.Id}]" pageTransition="slide"> <!-- Needed -->
    <Label class="p-20" text="{{album.Title}}" class="h4" textWrap="true"></Label>
    <Label class="p-20" text="by {{album.AlbumArtist.Title}}" class="h6" textWrap="true"></Label>
</StackLayout>