<li class="nav-item text-nowrap">
  <span class="nav-link" (click)="showLoginModal()">{{ isLoggedIn ? 'Sign Out' : 'Sign In' }}</span>
</li>

<div id="loginModal" tabindex="-1" class="modal fade" role="dialog">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div *ngIf="isLoggedIn">
            <div class="list-group">
              <button type="button"
              class="list-group-item list-group-item-action"
              (click)="logout(provider)"
              ><i class="fas fa-power-off"></i>&nbsp;Logout</button>
            </div>
          </div>

          <div *ngIf="!isLoggedIn">
            <div *ngIf="providers.length < 1">Loading providers...</div>
            <div class="list-group">
              <button type="button" [disabled]="!provider.Enabled"
              class="list-group-item list-group-item-action"
              *ngFor="let provider of providers"
              (click)="login(provider)"
              ><i [class]="provider.IconClass || ''"></i>&nbsp;{{provider.Name}}</button>
            </div>
          </div>
        </div>
        <!--div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div-->
      </div>
    </div>
</div>
