<StackLayout>
    <ActionBar title="Artists"></ActionBar>

    <Button class="btn btn-primary btn-active" text="Home" [nsRouterLink]="['/home']" pageTransition="slide" clearHistory="true"></Button>
    <Button class="btn btn-primary btn-active" text="Reload" (tap)="reload"></Button>
    <ScrollView class="page">
        <StackLayout> <!-- Needed -->
            <StackLayout *ngFor="let p of artists" class="list-group-item">

                <Button text="{{p.Id}} {{p.Title}}" [nsRouterLink]="['/artist', {id: p.Id}]" pageTransition="slide"></Button>
            </StackLayout>
        </StackLayout>
    </ScrollView>
</StackLayout>