<h2>Artists</h2>

<!--div>
    <button (click)="add()">
        Add
    </button>
</div-->


<a routerLink="/home">home</a>&nbsp;<button (click)="reload()">Reload</button>

<ul class="artists">
    <li *ngFor="let p of artists">
        <a [routerLink]="['/artist', {id: p.Id}]">
            <span class="badge">{{p.Id}}</span> {{p.Title}}
        </a>
        <button class="delete" title="delete artist"
                (click)="delete(p.Id)"
        >X
        </button>
    </li>
</ul>